<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsy10"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.wsy10.ViewFlipperActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.example.wsy10.ToolbarCustomActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.ToolbarActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity android:name="com.example.wsy10.TabThirdActivity" />
        <activity android:name="com.example.wsy10.TabSecondActivity" />
        <activity
            android:name="com.example.wsy10.TabHostActivity"
            android:exported="true" />
        <activity
            android:name="com.example.wsy10.TabGroupActivity"
            android:exported="true" />
        <activity
            android:name="com.example.wsy10.TabFragmentActivity"
            android:exported="true" />
        <activity android:name="com.example.wsy10.TabFirstActivity" />
        <activity
            android:name="com.example.wsy10.TabLayoutActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.TabCustomActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.TabButtonActivity"
            android:exported="true" />
        <activity android:name="com.example.wsy10.SwipeRefreshActivity" />
        <activity android:name="com.example.wsy10.SwipeRecyclerActivity" />
        <activity
            android:name="com.example.wsy10.SearchViewActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.SearchResultActvity"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.example.wsy10.RecyclerStaggeredActivity" />
        <activity android:name="com.example.wsy10.RecyclerLinearActivity" />
        <activity android:name="com.example.wsy10.RecyclerGridActivity" />
        <activity android:name="com.example.wsy10.RecyclerDynamicActivity" />
        <activity android:name="com.example.wsy10.RecyclerCombineActivity" />
        <activity
            android:name="com.example.wsy10.OverflowMenuActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.BannerTopActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.BannerPagerActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.wsy10.BannerIndicatorActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity android:name="com.example.wsy10.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>